body {
    background-color: #b721f4;
    background-image: linear-gradient(45deg, rgb(255, 93, 179) 0% ,rgb(125, 10, 179) 60%, rgb(44, 20, 66) 100%);
    background-repeat: no-repeat;
    color: white;
    width: 100vw;
    height: 100vh; 
}

textarea {
    padding: 15px 20px;
    resize: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow: 4px 4px 10px lightgrey
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
}
.inputfile + label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile + label {
    cursor: pointer;
    padding: 6px 12px;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: 100;
}
#btn-post{
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 6px 12px;
    margin-top: 15px;
}
.inputfile + label, #btn-post {
    background: hsla(271, 100%, 9%, 0.6);
    border-color: hsla(271, 100%, 9%, 0.6);
    box-shadow: 4px 4px 10px rgb(54, 23, 83);
    font-size: 18px;
    border-radius: 5px;
    color: white;
}
.inputfile:hover + label:hover, #btn-post:hover, #btn-post:active, #btn-post:focus {
    background: #190030;
}
.feed {
    color: white;
    font-weight: 700;
    text-shadow: 4px 4px 10px rgb(44, 20, 66)
}
#posts {
    border: 5px solid rgb(246, 178, 255);
    box-shadow: 4px 4px 10px rgb(239, 119, 250);
    padding: 40px 50px;
}
#posts-img {
    padding-top:5px;
    padding-right:10px;
    min-width: 102%;
    max-width: 50%;
}
#single_posts{
    border: 5px solid rgb(246, 178, 255);
    box-shadow: 4px 4px 10px rgb(239, 119, 250);
    padding: 40px 50px;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}
.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 110px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
#find_people{
    border: 5px solid rgb(246, 178, 255);
    box-shadow: 4px 4px 10px rgb(239, 119, 250);
    padding: 40px 50px;
}
#result_posts{
    border: 5px solid rgb(246, 178, 255);
    box-shadow: 4px 4px 10px rgb(239, 119, 250);
    padding: 40px 50px;
}
form.search_form::after {
    content: "";
    clear: both;
    display: table;
}
#content{
    width: 70%;
}
